*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav li {
list-style-type: none;
padding: 30px 30px;
font-size: 20px;
font-weight: 400;
float: right;
font-family: sans-serif;
}



li a{
   text-decoration: none;
    color:rgba(0, 0, 0, 0.633);
    transition: 0.8s;

}

 

header{
    
   
   height: 80px;
   background-color: #ffffff;


}

ul li :hover{
    transition: 0.4s;
    color:rgb(0, 0, 0);
    
}


.header-left{
float: left;
font-size: 35px;
margin-left: 35px;
margin-top: 25px;
color:rgba(0, 0, 0, 0.955);
font-style: italic;
font-weight: 400;

}






html {
    height: 3000px;
    scroll-behavior: smooth;
}


#hello{
    text-align: center;
    padding-top: 200px;
    padding-right: 640px;
    font-size: 50px;
}

#wanna{
    text-align: center;
    padding-right: 335px;
   font-size: 40px;
}

.pengenalan{
    color:rgb(0, 0, 0) ;
    font-family: sans-serif;
}


.page1-welcome{
   
    height: 550px;
}


